#foot {
    width : 100%;
    min-height: 300px;
    background-color : #e9e9e9;
}

#facebook {
    color : #4267B2;
}

#instagram {
    color : #C13584;
}

#twitter {
    color : #1DA1F2;
}

.icon {
    font-size : 85px;
}

.mid {
    font-size: 20px;
}