.login-background {
    width: 100%;
    height : 100%;
}
.back-image {
    width: 100%;
    height: 100vh;
    min-height : 700px;
    overflow-y : hidden;
    filter : blur(7px);
}

.login-card {
    background-color : white;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -30%);
}

@media screen and (max-height : 700px) {
    .login-card {
        top : 60%;
    }
}

.google-logo {
    font-size: 17px;
    color: black;
}

#login-logo {
    font-size : 10vh;
    color : lightslategrey;
}
